.classpath
.project
bin
.Rproj.user
pkg/gMCP/src/*.o
pkg/gMCP/src/*.so
pkg/gMCP/src/*.dll
pkg/gMCP/src/symbols.rds
pkg/gMCP/inst/classes
pkg/*.Rcheck/
pkg/*.tar.gz
.RData
.Rhistory
hs_err_pid*.log
*~
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
*.loa
