.classpath
.project
bin
.Rproj.user
pkg/gMCP/src/*.o
pkg/gMCP/src/*.so
pkg/gMCP/src/*.dll
pkg/gMCP/src/symbols.rds
pkg/gMCP/inst/classes
pkg/*.Rcheck/
pkg/*.tar.gz
.RData
.Rhistory
hs_err_pid*.log
*~
