import(graph)
import(rJava)
importFrom(graphics, plot)
exportClasses(graphSRMTP, srmtpResult)
exportMethods(plot, print, getAlpha, getRejected)
export(srmtp)
export(createBonferroniHolmGraph)
export(createGraphFromBretzEtAl)
export(graphGUI)
export(createGsrmtpReport)
export(graph2latex)