import(graph)
import(rJava)
importFrom(graphics, plot)
exportClasses(graphSRMTP, srmtpResult)
exportMethods(plot, print)
export(srmtp)
export(createBonferroniHolmGraph)
export(graphGUI)
export(createGsrmtpReport)
export(graph2latex)