useDynLib(gMCP)

import(utils)
import(graph)
import(rJava)
importFrom(graphics, plot)

exportClasses(graphMCP, gMCPResult)
exportMethods(plot, print, getWeights, getRejected, getX, getY, simConfint, addEdge)

export(graphGUI)
export(gMCP, rejectNode)
export(gMCPReport, graph2latex)
export(matrix2graph, graph2matrix)

export(createBonferroniHolmGraph)
export(createGraphFromBretzEtAl)
export(createGraphFromHommelEtAl)
export(createGraphForParallelGatekeeping)
export(createGraphForImprovedParallelGatekeeping)

export(generateWeights, generateBounds, generateTest)
