useDynLib(gMCP)

import(utils)
import(rJava)
importFrom(graphics, plot)

exportClasses(graphMCP, gMCPResult)
exportMethods(plot, print, getWeights, setWeights, getRejected, getXCoordinates, getYCoordinates, simConfint, addEdge, edgeData, "edgeData<-", nodeData, "nodeData<-", nodes)

export(graphGUI)
export(gMCP, rejectNode, substituteEps, placeNodes)
export(gMCPReport, graph2latex)
export(matrix2graph, graph2matrix, bdiagNA, joinGraphs)
export(graphAnalysis)

export(BonferroniHolmGraph)
export(graphFromBretzEtAl2011)
export(truncatedHolm)
export(fixedSequence)
export(generalSuccessive)
export(simpleSuccessiveI)
export(simpleSuccessiveII)
export(graphFromHommelEtAl2007)
export(graphFromHungEtWang2010)
export(graphFromMaurerEtAl1995)
export(graphForParallelGatekeeping)
export(graphForImprovedParallelGatekeeping)
export(improvedFallbackGraphI, improvedFallbackGraphII)
export(cycleGraph)

export(extractPower, calcPower, graphTest, rqmvnorm)

export(generateWeights, generateBounds, generateTest, generatePvals)
